@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

.menu-img {
    max-width: 4rem;
}

.menu-img-box, .menu-img-placeholder, .add-placeholder {
    width: 4rem;
    flex-shrink: 0;
    margin-left: -$card-spacer-x;
    margin-top: -$card-spacer-x;
    margin-bottom: -$card-spacer-x;
    border-top-left-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
    transition: border-radius .35s ease;
}

.menu-item-name {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 1.25rem;
}

.menu-price-amount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-price-amount .amount {
    font-size: 0.65rem;
}

.menu-img-placeholder {
    background: theme-color-level("secondary", $table-bg-level);
}

.menu-img-expanded {
    border-bottom-left-radius: 0;
}

.menu-buttons button {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.menu-subcard {
    padding: $card-spacer-x;
}

.menu-subcard-container {
    border-top: $card-border-width solid $card-border-color;
}

.menu-subcard h4 {
    font-size: 1.3rem;
}

ul.menu-options {
    padding: 0;
}

ul.menu-options li {
    list-style: none;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.menu-option-title {
    font-weight: bold;
}

ul.menu-options label {
    display: block;
    margin-left: 1rem;
}

.menu-add-box {
    text-align: right;
}

.order-item-rest {
    flex-grow: 1;
}

.order-item-notes {
    font-style: italic;
    font-size: 1rem;
}

ul.order-item-options {
    margin: 0;
    padding-left: 0.5rem;
    font-size: 0.85rem;
}

ul.order-item-options > li {
    list-style: none;
}

ul.order-item-options {
    padding-top: 1.25rem;
}

ul.order-item-options:empty {
    padding-top: 0;
}

ul.order-item-options li ul {
    padding-left: 0.75rem;
}

ul.order-item-options li ul li {
    list-style: disc;
}

ul.order-item-options li ul li:only-child {
    list-style: none;
}

.order-item-options-title {
    font-weight: bolder;
}
