<h1>Orders</h1>

<app-progress-spinner-content [showLoading]="showLoading > 0">
    <ng-container *ngIf="ordersInProgress.length > 0">
    <h2>Orders in progress</h2>
    <app-order-table [showLoading]="showLoading > 0" [orders]="ordersInProgress" [showRestaurant]="true"></app-order-table>
</ng-container>

<h2 *ngIf="ordersInProgress.length > 0">Order history</h2>

<app-order-table [showLoading]="showLoading > 0" [orders]="orderHistory" [showRestaurant]="true"></app-order-table>
<app-pager [page]="historyPageNumber" (pageChange)="goToHistoryPage($event)" [totalItems]="historyTotalItems"></app-pager>
</app-progress-spinner-content>
