<h1 *ngIf="order === undefined">Order Details</h1>
<h1 *ngIf="!!order">Order {{order.orderId}}</h1>
<app-progress-spinner-overlay *ngIf="showLoading"></app-progress-spinner-overlay>
<app-empty-state [empty]="!order" *ngIf="!!order">
    <app-order-card-progress [order]="order"></app-order-card-progress>
    <app-order-card-actions [order]="order" formFactor="mobile" [role]="role" (act)="handleAction($event)"></app-order-card-actions>
    <app-order-card-address [order]="order" formFactor="mobile"></app-order-card-address>
    <app-order-card-notes [order]="order" formFactor="mobile"></app-order-card-notes>
    <app-order-card-delivery [order]="order" formFactor="mobile"></app-order-card-delivery>
    <app-order-card-restaurant [order]="order" formFactor="mobile"></app-order-card-restaurant>
    <div class="row">
        <div class="col-md-9">
            <app-order-items [order]="order"></app-order-items>
        </div>
        <div class="col-md-3">
            <app-order-card-actions [order]="order" formFactor="desktop" [role]="role" (act)="handleAction($event)"></app-order-card-actions>
            <app-order-card-address [order]="order" formFactor="desktop"></app-order-card-address>
            <app-order-card-notes [order]="order" formFactor="desktop"></app-order-card-notes>
            <app-order-card-delivery [order]="order" formFactor="desktop"></app-order-card-delivery>
            <app-order-card-restaurant [order]="order" formFactor="desktop"></app-order-card-restaurant>
        </div>
    </div>
</app-empty-state>
