<h1>Pay for Order</h1>
<app-progress-spinner-fullwidth *ngIf="showLoading"></app-progress-spinner-fullwidth>
<p *ngIf="showLoading" class="payments-make-text">Payment in progress…</p>
<ng-container *ngIf="!showLoading">
    <p class="text-danger" *ngIf="showHttpError">There was an error making the payment.</p>
    <p class="text-danger" *ngIf="!showHttpError && !showSuccess">Unable to make payment. It might have already been processed.</p>
    <p class="text-success" *ngIf="showSuccess">Payment successful!</p>
</ng-container>
