/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.center-contents-vh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-contents-vh-fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.table th, .table td {
    vertical-align: middle;
}

.btn-box {
    @extend .center-contents-vh;
}

.btn-fullwidth {
    width: 100%;
}

.msi-mini-card {
    max-width: 400px;

    .card-header {
        font-weight: 200;
        font-size: 2rem;
    }

    .btn {
        margin: 0 auto;
    }
}

.msi-form-check {
    padding-top: add($input-padding-y, $input-border-width);
    padding-bottom: add($input-padding-y, $input-border-width);
    margin-bottom: 0; // Override the `<label>/<legend>` default
    @include font-size(inherit); // Override the `<legend>` default
    line-height: $input-line-height;
    display: block;
}

@include media-breakpoint-down(sm) {
    .table-hidden-sm {
        display: none;
    }
}

.btn-singleline {
    white-space: nowrap;
}
