:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-card {
    max-width: 350px;

    .card-header {
        font-weight: 200;
        font-size: 2rem;
    }

    .btn-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn {
        margin: 0 auto;
    }
}
