<form #f="ngForm" ngNativeValidate>
    <div class="form-group" *ngIf="showAddressee">
        <label class="sr-only" for="addressee">Addressee</label>
        <input ngModel class="form-control" name="addressee" id="addressee" placeholder="Addressee" [required]="required && showAddressee">
    </div>
    <div class="form-group">
        <label class="sr-only" for="firstLine">Address Line 1</label>
        <input ngModel class="form-control" name="firstLine" id="firstLine" placeholder="Address Line 1" [required]="required">
    </div>
    <div class="form-group">
        <label class="sr-only" for="secondLine">Address Line 2</label>
        <input ngModel class="form-control" name="secondLine" id="secondLine" placeholder="Address Line 2" [required]="required">
    </div>
    <div class="form-group">
        <label class="sr-only" for="postCode">Post Code</label>
        <label class="sr-only" for="city">City</label>
        <div class="input-group">
            <input ngModel class="form-control" name="postCode" id="postCode" placeholder="Post Code" [required]="required">
            <input ngModel class="form-control" name="city" id="city" placeholder="City" [required]="required">
        </div>
    </div>
    <div class="btn-box">
        <button type="submit" standardButton btnStyle="form" btnType="save" [disabled]="!f.valid" (click)="submit()"></button>
    </div>
    
</form>
