<app-progress-spinner-overlay *ngIf="showLoading"></app-progress-spinner-overlay>
<div class="card login-card" *ngIf="showSuccess">
    <div class="card-header">
        <a routerLink="/auth/login"><bs-icon name="arrow-left-circle"></bs-icon></a>
        Forgot password
    </div>
    <div class="card-body">
        <p>Reset e-mail sent.</p>

        <div class="btn-box">
            <a routerLink="/" class="btn btn-lg btn-primary"><bs-icon name="arrow-left-circle"></bs-icon> Back to home page</a>
        </div>
    </div>
</div>

<div class="card login-card" *ngIf="!showSuccess">
    <div class="card-header">
        <a routerLink="/auth/login"><bs-icon name="arrow-left-circle"></bs-icon></a>
        Forgot password
    </div>
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="submit(f)" ngNativeValidate>
            <div class="form-group">
                <label for="forgotEmail">Please provide your e-mail address.</label>
                <input class="form-control" id="forgotEmail" name="email" ngModel required="required">
            </div>
            <div class="btn-box">
                <button type="submit" class="btn btn-lg btn-primary" [disabled]="!canSubmit(f)"><bs-icon name="envelope"></bs-icon> Send reset e-mail</button>
            </div>
        </form>
    </div>
</div>
