<app-progress-spinner-overlay *ngIf="showLoading"></app-progress-spinner-overlay>
<div class="card login-card" *ngIf="showSuccess">
    <div class="card-header">
        Reset password
    </div>
    <div class="card-body">
        <p>Your password has been changed.</p>

        <div class="btn-box">
            <a routerLink="/auth/login" class="btn btn-lg btn-primary"><bs-icon name="key"></bs-icon> Log in</a>
        </div>
    </div>
</div>

<div class="card login-card" *ngIf="showInvalid">
    <div class="card-header">
        Reset password
    </div>
    <div class="card-body">
        <p>This link has expired.</p>

        <div class="btn-box">
            <a routerLink="/auth/login" class="btn btn-lg btn-primary"><bs-icon name="key"></bs-icon> Log in</a>
        </div>
    </div>
</div>

<div class="card login-card" *ngIf="!showSuccess && !showInvalid">
    <div class="card-header">
        Reset password
    </div>
    <div class="card-body">
        <form #f="ngForm" (ngSubmit)="submit(f)" ngNativeValidate>
            <div class="form-group">
                <label for="loginPassword">Password</label>
                <input type="password" class="form-control" id="loginPassword" name="password" ngModel required="required">
            </div>
            <div class="form-group">
                <label for="loginRepeatPassword">Repeat Password</label>
                <input class="form-control" id="loginRepeatPassword" name="repeatPassword" type="password" ngModel required="required">
            </div>
            <div class="btn-box">
                <button type="submit" class="btn btn-lg btn-primary" [disabled]="!canSubmit(f)"><bs-icon name="key"></bs-icon> Reset</button>
            </div>
        </form>
    </div>
</div>
