<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top" id="navbar" *ngIf="showNavbar">
    <a class="navbar-brand" routerLink="/">MSI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/">Dashboard</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/browse">Browse</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/orders">Orders</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/account">Account</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="canDeliver">
                <a class="nav-link" routerLink="/deliver">Deliver</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="canManage">
                <a class="nav-link" routerLink="/manage">Manage</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isAdmin">
                <a class="nav-link" routerLink="/admin">Admin Panel</a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="/auth/login">Log in</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/auth/profile">{{userName}}</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/" (click)="handleLogOut()">Log out</a>
            </li>
        </ul>

    </div>
</nav>

<main role="main" class="container-fluid" id="main-container">
    <div class="row" id="main-container-row">
        <div *ngIf="sidebar != null" class="col-sidebar" [ngSwitch]="sidebar">
            <ng-container *ngSwitchCase="'admin'">
                <h1>Admin Panel</h1>
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/admin/users">
                            <bs-icon name="people"></bs-icon>
                            <span>Users</span>
                        </a>
                    </li>
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/admin/restaurants">
                            <bs-icon name="shop"></bs-icon>
                            <span>Restaurants</span>
                        </a>
                    </li>
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/admin/cuisines">
                            <bs-icon name="globe"></bs-icon>
                            <span>Cuisines</span>
                        </a>
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngSwitchCase="'orders'">
                <h1>Orders</h1>
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/orders">
                            <bs-icon name="bag"></bs-icon>
                            <span>Orders</span>
                        </a>
                    </li>
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/payments">
                            <bs-icon name="cash"></bs-icon>
                            <span>Payments</span>
                        </a>
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngSwitchCase="'manage'">
                <h1>Manage</h1>
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item sidebar-context" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="sidebar-nav-link" routerLink="/manage">
                            <bs-icon name="shop"></bs-icon>
                            <span>{{ currentRestaurantName }}</span>
                        </a>
                    </li>
                    <li *ngIf="currentCanManageAccept" class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/manage/{{currentRestaurantIdValue}}/orders">
                            <bs-icon name="bag"></bs-icon>
                            <span>Orders</span>
                        </a>
                    </li>
                    <li *ngIf="currentCanManageMenu" class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/manage/{{currentRestaurantIdValue}}/menucategories">
                            <bs-icon name="tags"></bs-icon>
                            <span>Menu Categories</span>
                        </a>
                    </li>
                    <li *ngIf="currentCanManageMenu" class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/manage/{{currentRestaurantIdValue}}/menu">
                            <bs-icon name="journal-text"></bs-icon>
                            <span>Menu Items</span>
                        </a>
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngSwitchCase="'account'">
                <h1>Account</h1>
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/account">
                            <bs-icon name="person"></bs-icon>
                            <span>Profile</span>
                        </a>
                    </li>
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/account/address">
                            <bs-icon name="globe"></bs-icon>
                            <span>Addresses</span>
                        </a>
                    </li>
                </ul>
            </ng-container>
        </div>
        <div [class.col-main-sidebar]="sidebar != null" [class.col-main-full]="sidebar == null">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
