<nav class="navbar navbar-expand-md navbar-dark bg-dark static-top" id="navbar" *ngIf="showNavbar">
    <a class="navbar-brand" routerLink="/">MSI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" routerLink="/">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>

        <ul class="navbar-nav navbar-right">
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="/auth/login">Log in</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/auth/profile">{{userName}}</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" routerLink="/" (click)="handleLogOut()">Log out</a>
            </li>
        </ul>

    </div>
</nav>

<main role="main" class="container-fluid" id="main-container">
    <div class="row" id="main-container-row">
        <div *ngIf="sidebar != null" class="col-sidebar" [ngSwitch]="sidebar">
            <ng-container *ngSwitchCase="'admin'">
                <h1>Admin Panel</h1>
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/admin/users">
                            <bs-icon name="people"></bs-icon>
                            Users
                        </a>
                    </li>
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/admin/restaurants">
                            <bs-icon name="shop"></bs-icon>
                            Restaurants
                        </a>
                    </li>
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/admin/cuisines">
                            <bs-icon name="globe"></bs-icon>
                            Cuisines
                        </a>
                    </li>
                </ul>
            </ng-container>
            <ng-container *ngSwitchCase="'orders'">
                <h1>Orders</h1>
                <ul class="sidebar-nav">
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/orders/list">
                            <bs-icon name="bag"></bs-icon>
                            Orders
                        </a>
                    </li>
                    <li class="sidebar-nav-item" routerLinkActive="active">
                        <a class="sidebar-nav-link" routerLink="/orders/payments">
                            <bs-icon name="cash"></bs-icon>
                            Payments
                        </a>
                    </li>
                </ul>
            </ng-container>
        </div>
        <div [class.col-main-sidebar]="sidebar != null" [class.col-main-full]="sidebar == null">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
