@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';

$navbar-height: 50px;
$sidebar-width: 250px;

#navbar {
    height: $navbar-height;
}

#main-container {
    height: calc(100vh - #{$navbar-height});
}

@include media-breakpoint-down(sm) {
    #main-container-row {
        flex-direction: column;
    }

    .col-sidebar {
        background: $gray-100;
        width: 100%;
    }

    ul.sidebar-nav {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    .sidebar-nav li {
        display: inline-block;
    }

    ul.sidebar-nav li span, .col-sidebar h1 {
        display: none;
    }

    .sidebar-nav li a {
        line-height: 3rem;
        padding: 0 15px;
        display: block;
        color: $body-color;
        text-decoration: none;
    }

    .sidebar-nav li a:hover {
        background: rgba(0, 0, 0, 0.1);
        text-decoration: none;
    }

    .sidebar-nav li.active {
        background: lighten($primary, 40%);
    }

    .sidebar-nav li.active span {
        display: inline;
        padding-left: 5px;
    }

    .col-main-full, .col-main-sidebar {
        padding: 15px;
        max-width: 100%;
    }
}

@include media-breakpoint-up(md) {
    #main-container-row {
        height: 100%;
    }

    .col-sidebar, .col-main-full, .col-main-sidebar {
        position: relative;
        width: 100%;
        min-height: 100%;
    }

    .col-main-full, .col-main-sidebar {
        padding: 15px;
    }

    .col-sidebar {
        flex: 0 0 $sidebar-width;
        max-width: $sidebar-width;
        border-right: 1px solid $gray-300;
        background: $gray-100;
        padding: 15px 0;
    }

    ul.sidebar-nav {
        list-style: none;
        padding-left: 0;
    }

    .sidebar-nav li a {
        line-height: 2rem;
        padding: 0 15px;
        display: block;
        color: $body-color;
        text-decoration: none;
    }

    .sidebar-nav li a span {
        padding-left: 5px;
    }

    .sidebar-nav li a:hover {
        background: rgba(0, 0, 0, 0.1);
        text-decoration: none;
    }

    .sidebar-nav li.active {
        background: lighten($primary, 40%);
    }

    .col-sidebar h1 {
        font-size: 1.25rem;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 15px;
    }

    .col-main-sidebar {
        flex: 0 0 calc(100% - #{$sidebar-width});
        max-width: calc(100% - #{$sidebar-width});
    }

    .col-main-full {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
