<app-heading-buttons name="Addresses">
    <a standardButton btnStyle="heading" routerLink="/account/address/add" btnType="add" text="Add"></a>
</app-heading-buttons>
<app-progress-spinner-content [showLoading]="showLoading > 0">
    <app-empty-state [empty]="!showLoading && items.length === 0">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Address</th>
                <th>Billing/Default</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of items">
                <td>
                    <app-address-display [address]="address"
                                         routerLink="/account/address/{{address.addressId}}"></app-address-display>
                </td>
                <td style="font-size:2rem">
                    <bs-icon name="check" *ngIf="address.addressId == billingAddressId"></bs-icon>
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Address actions">
                        <a standardButton routerLink="/account/address/{{address.addressId}}" btnStyle="table"
                           btnType="edit"></a>
                        <button type="button" standardButton (click)="makeBilling(address)" btnStyle="table" btnType="secondary" icon="bookmark-check" text="Make Billing/Default"></button>
                        <button type="button" standardButton (click)="deleteAddress(address)" btnStyle="table"
                                btnType="delete"></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </app-empty-state>
</app-progress-spinner-content>
<app-pager [page]="pageNumber" (pageChange)="goToPage($event)" [totalItems]="totalItems"></app-pager>
