.assign-label {
    margin-bottom: 0;
}

.assign-help {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.deliverer-label {
    display: flex;
    flex-direction: row;
}

.deliverer-tasks {
    flex-grow: 1;
    text-align: right;
}
